<!-- <p>login-page works!</p> -->
<ng-container *ngIf="!show">
    <div class="row">
        <div class="col-12" >
        <img src="../../assets/clinic.gif" class="hospImg"   />
        </div>
      </div>
    <div class="row">
        <div class="col-6">
            <button (click)="modalOpen('Admin')">Admin</button>
        </div>
        <br>
        <div class="col-6">
            <button (click)="modalOpen('Customer')">Customer</button>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="show" class="pageAlign">
     <div class="row">
        Welcome {{pagedata}} :)
     </div>
     <br>
     <form action="/action_page.php" method="post">
        <div class="imgcontainer">
          <img src="../../assets/loginPageIcon.jpg" alt="Avatar" class="avatar">
        </div>
      
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              
          <button type="submit">Login</button>
          <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
          </label>
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="button" class="cancelbtn">Sign Up</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
</ng-container>


<ng-template #popup let-modal>
    <div class="modal-header">
        <div class="row">
            <div class="col-6">
                <h4 class="modal-title" id="modal-basic-title">Sign Up Page</h4>
           </div>
           <div class="col-6">
               <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
           </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            Please Fill the below Details
        </div>
        <div class="row">
            <div class="col-6">
                <!-- <div class="input-group mb-2"> -->
                    <kendo-floatinglabel text="Gender">
                        <span>
                            <kendo-dropdownlist   [valuePrimitive]="true"
                                [disabled]="false" [data]="" [filterable]="true" textField="" valueField="">
                            </kendo-dropdownlist>
                        </span>
                    </kendo-floatinglabel>
                <!-- </div> -->
            </div>
            <div class="col-6">
                <!-- <div class="input-group mb-2"> -->
                    <kendo-floatinglabel text="Gender">
                        <span>
                            <kendo-dropdownlist   [valuePrimitive]="true"
                                [disabled]="false" [data]="" [filterable]="true" textField="" valueField="">
                            </kendo-dropdownlist>
                        </span>
                    </kendo-floatinglabel>
                <!-- </div> -->
            </div>
        </div>
    </div>    
</ng-template>
